*
{
    font-family: Impact;
    font-size: 25px;
    color: #BDBDBD;
    line-height: 1.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.wrapper
{
    width:100%;
    height:100%;
    overflow:hidden;
}
.spacingVertical
{
    height:2%;
}

.dpiSliderWrapper > *
{
    vertical-align: middle;
}

.dpiSliderWrapper
{
    height:30%;
    margin-left:2%;
}

.blackBoxSlider
{
    margin-top: 5%;
    width: 75%;
    height: 65%;
    overflow: hidden;
}

#blackBoxSliderX
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#blackBoxSliderY
{
    background-image: url('img/xSliderBack.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#blackBoxSliderY
{
    background-image: url('img/ySliderBack.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    #blackBoxSliderY {
        background-image: url("img/ySliderBack.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    #blackBoxSliderY {
        background-image: url("img/MouseInfo_AxisLabelY@3x.png");
    }
}

.ui-slider-horizontal
{
    height: 100%;
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    width:90%;
    border: none;
}

.ui-slider-horizontal .ui-slider-handle
{
    background: #8ad5f4;
    height: 100%;
    width:2%;
}

#deviceInfoTable
{
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: left;
}

.spacingCell
{
    width: 5%;
}

#deviceNameCell
{
    font-size: 40px;
    color: white;
    text-overflow:ellipsis;
}

.loading{
    background-image: url('img/loading.gif');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .loading{
        background-image: url('img/loading.gif');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .loading{
        background-image: url('img/LoadingSpinner@3x.gif');
    }
}

#devicePicCell
{
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#nextDeviceCell
{
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

#prevDeviceCell
{
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}
.prevDevice{
    margin-right: 15px;
}
.nextDevice{
    margin-left:15px;
}

#devicePic
{
    display: table-cell;
    width: 100%;
    height: auto;
}

#activeProfileCell
{
    display: table-cell;
    vertical-align: middle;
}

/**/
.battery0 {
    background-image: url('img/battery0.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .battery0 {
        background-image: url('img/battery0.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .battery0 {
        background-image: url('img/Battery_0@3x.png');
    }
}

.battery20 {
    background-image: url('img/battery20.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .battery20 {
        background-image: url('img/battery20.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .battery20 {
        background-image: url('img/Battery_20@3x.png');
    }
}

.battery40 {
    background-image: url('img/battery40.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .battery40 {
        background-image: url('img/battery40.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .battery40 {
        background-image: url('img/Battery_40@3x.png');
    }
}

.battery60 {
    background-image: url('img/battery60.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .battery60 {
        background-image: url('img/battery60.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .battery60 {
        background-image: url('img/Battery_60@3x.png');
    }
}

.battery80 {
    background-image: url('img/battery80.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .battery80 {
        background-image: url('img/battery80.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .battery80 {
        background-image: url('img/Battery_80@3x.png');
    }
}

.battery100 {
    background-image: url('img/battery100.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .battery100 {
        background-image: url('img/battery100.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .battery100 {
        background-image: url('img/Battery_100@3x.png');
    }
}
.battery0, .battery20, .battery40, .battery60, .battery80, .battery100 {
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}
/**/

#batteryStatusCell
{
    width: 10%;
}
@media (orientation: portrait) {
  #batteryStatusCell
  {
      width: 20%;
  }
}

.activeProfileCellContent
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
}
#profileNameText
{
    width:70%;
}

#scrollableZone
{
    width:110%;
    height:75%;
    margin-left:-5%;
    overflow-x:hidden;
    overflow-y: auto;
}



.dpiButtonControl
{
    display: inline-table;
    margin-left: 5%;
	margin-top: 5%;
    width: 10%;
    height: 50%;
    -webkit-box-shadow: 0 0 10px #8ad5f4;
    box-shadow: 0 0 10px #8ad5f4;
    background-color: black;
    opacity: 0.7;
    vertical-align: middle;
    border-spacing: 5px;
    border-radius: 10px;
}

.dpiControlUp
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('img/dpiControlUp.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .dpiControlUp {
        background-image: url("img/dpiControlUp.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .dpiControlUp {
        background-image: url("img/MouseInfo_StepperIncrease@3x.png");
    }
    .dpiControlUp:active {
        background-image: url("img/MouseInfo_StepperIncreaseActive@3x.png");
    }
}

.dpiControlDown
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('img/dpiControlDown.png');
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .dpiControlDown {
        background-image: url("img/dpiControlDown.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .dpiControlDown {
        background-image: url("img/MouseInfo_StepperDecrease@3x.png");
    }
    .dpiControlDown:active {
        background-image: url("img/MouseInfo_StepperDecreaseActive@3x.png");
    }
}

.dpiControlCurrent
{
    text-align: center;
    color: white;
}

.ui-widget-content
{
    background: transparent;
}

.ui-slider-handle.currentDpiIndex
{
    box-shadow: 0 0 20px 2px #9ecaed;
    background: #edfffd;
}

.ui-slider-handle.shiftDpiIndex
{
    background: orange;
}

.ui-slider-handle.defaultDpiIndex
{
    border-color: blue;
}

#dpiSliderY_wrapper
{
    display: none;
}


.box
{
    vertical-align: middle;
    border-style: solid 10px #8ad5f4;
    border-width: 1px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #8ad5f4;
    box-shadow: 0 0 10px #8ad5f4;
    background-color: black;
    opacity: 0.7;
    border-spacing: 20px;
}


.value-label
{
    display: block;
    color: #BDBDBD;
    background:black;
    border-radius: 4px;
    border:solid;
    border-color:white;
    border-width:thin;
    width:550%;
    text-align:center;
    font-size: 20px;
    position: relative;
    top: -3em;
    left: -220%;
}

.value-label.current
{
    color : white;
    font-size:22px;
}
.diamondDefault
{
    display: block;
    width: 10px;
    height: 10px;
    background: #8ad5f4;
    margin: 3px 0 0 3px;
    position: relative;
    top: -2em;
    left:0.15em;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#deviceInfoWrapper
{
    margin-top:2%;
    margin-right: auto;
    width: 100%;
    height:25%;
    display:table;
    vertical-align:middle;
    border-style: solid none solid none 10px #8ad5f4;
    border-width: 1px;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px #8ad5f4;
    background-color: rgba(0,0,0,0.8);
}

/*//FIX: task #1888*/
#notSupportedMessage
{
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 15%;
    bottom: 40%;
    right: 15%;
    width: 30%;
    height: 30%;
    background: black;
    border-style: solid 10px #8ad5f4;
    -webkit-box-shadow: 0 0 10px #8ad5f4;
    border-width: 1px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.9;
    padding: 15px;
}

#notSupportedMessage p
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#waitingForResponseLayer
{
    display: none;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background: rgba(0,0,0,0.3);
    height: 100%;
    line-height: 75%;
    width: 100%;
    z-index: 999999;
}

#waitingForResponseMessage
{
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 40%;
    right: 40%;
    width: 20%;
    height: 20%;
    background: black;
    border-style: solid 10px #8ad5f4;
    -webkit-box-shadow: 0 0 10px #8ad5f4;
    border-width: 1px;
    border-radius: 10px;
    background-color: black;
    padding: 15px;
}

#waitingForResponseMessage p
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.sliding{
    position:relative;
    left:0;
    float: left;

}

.dpiComponent
{
    display:inline-table;
}
